<%- include("html_boilerplate.ejs"); %>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="css/admin_panel/admin.css">
    <link rel="stylesheet" href="css/custom/expense_form.css">

    <%- include("header.ejs"); %>
        <div class="container-fluid px-4">
            <div class="container">
                <div>
                    <h1>Expense Form</h1>
                </div>
                <form id="expense_form">
                    <div class="mb-3">
                        <label for="debited_from" class="form-label">Debited From</label>
                        <select id="debited_from" class="select2 form-control" required>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" required>
                    </div>

                    <div class='mb-3'>
                        <label for="datepicker" class="form-label">Date</label>
                        <input type="text" id="expense_date" class="form-control" id="datepicker" required>
                    </div>

                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        <input type="text" class="form-control" id="notes" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Data</button>
                </form>
            </div>
        </div>
        </main>

        <script type="text/javascript" src="js/bootstrape/jquery-3.6.3.js"></script>
        <!-- ✅ load jquery UI ✅ -->
        <script type="text/javascript" src="js/bootstrape/jquery-ui.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script type="text/javascript" src="js/bootstrape/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="js/admin_panel/admin.js"></script>
        <!-- For expense view js -->
        <script src="js/custom/expense_from.js"></script>
        <%- include("footer.ejs"); %>