<script type="text/javascript" src="js/jquery-3.6.3.js"></script>
<!-- ✅ load jquery UI ✅ -->
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>


<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker();
    });
</script>
</body>

</body>

</html>