<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Not Authorized</title>
</head>

<body>

  <div class="container">
    <div style="height: 400px; width: 800px; width: 800px;display: flex;flex-direction: column;justify-content:
    center;text-align: center;">
      <h1>Not Authorized</h1><br>
      <h2><a class="btn btn-primary btn-lg" href='/login'>Please Login</a></h2>
    </div>
  </div>

  <script type="text/javascript" src="js/bootstrape/jquery-3.6.3.js"></script>
  <script type="text/javascript" src="js/bootstrape/bootstrap.bundle.min.js"></script>
</body>

</html>