<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Initial Cash</title>
</head>

<body>
    <div class="container-sm">
        <h1>One more step</h1>
        <form id="add-initial-cash">
            <div class="form-group">
                <label for="cashInHand">Current Cash in Hand</label>
                <input type="number" class="form-control" id="cashInHand" required aria-required="This">
                <small id="cashInHand" class="form-text text-muted">Please enter the amount you have in cash</small>
            </div>
            <button type="submit" class="btn btn-primary">Let's Hesibe !!</button>
        </form>
    </div>


    <script type="text/javascript" src="../js/bootstrape/jquery-3.6.3.js"></script>
    <script type="text/javascript" src="../js/bootstrape/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/custom/credit/add-initial.cash.js"></script>
</body>

</html>